<ul class="tabs deploy_wrapper_tabs">
	<% targets.each_with_index do |t, i| %>
		<li class="<%= 'active' if i == 0 %>"><a href="#result-<%= i %>"><%= t[:un] %></a></li>
	<% end %>
</ul>

<div class="pill-content" id="deploy_result_wrapper">
	<%= deploy_result_html %>
</div>

<script>
	var i = 0
	$(".result_wrapper").each(function() {
		$(this).attr("id", "result-"+i)
		i++
	})
	$('#deploy_result_wrapper div').first().addClass("active")
	$('.tabs.deploy_wrapper_tabs').tabs()
	// $("#result-1").click(); 
	// $("#result-0").click(); 
</script>