<div id="result" style="padding:10px;">
	<% result.keys.each do |r| %>
		<div class="well">
			<%= r %><br/>
			<% r.keys.each do |m| %>
			<%= m %>, <%= r[m] %><br/>
			<% end %>
		</div>
	<% end %>
</div>