<?xml version="1.0" encoding="UTF-8"?>
<<%= meta_type %> xmlns="http://soap.sforce.com/2006/04/metadata">
	<%- include MetadataHelper -%>
	<apiVersion><%= MM_API_VERSION %></apiVersion>
	<%- if meta_type == "ApexPage" || meta_type == "ApexComponent" -%>
	<label><%= api_name %></label>
	<description></description>
	<%- end -%>
	<%- if meta_type == "ApexTrigger" -%>
	<status>Active</status>
	<%- end -%>
</<%= meta_type %>>
