.topbar-inner {
	background: url('../images/header_bkgd.gif') 0 0 repeat;
}

body {
	margin-top:50px; 
	padding-top:0px;
}  

input {
	height:30px !important; 
}  

.tabs {
	margin-bottom:10px !important;
}

#logo {
	background-image: url("../images/logo.png"); 
	background-repeat:no-repeat;
	background-position:0px 3px;
	width:155px;
	height:21px;
}

#mm_logger {
	display:none;
	height:200px;
	overflow-y:auto;
	padding:10px;
	border:1px solid #f2f2f2;
}

.container {
	width: 100%;
	margin-left: 10px;
}

#component_wrapper {
	height:100%;
} 

#action_buttons {
	position:fixed;
	bottom:-37px;
	width:100%;
} 

.topbar-inner .container .brand {
	margin-left:0px; 
	position: relative;
	top: 0;
	left: 0px;
	padding: 10px 0px;
} 

.content {
	padding:0px 5px;
} 

#project_wrapper {
	height:500px;
	overflow-y:auto; 
	border:1px solid #ddd;
}  

ul.dynatree-container {
	border:none !important;
} 

#tree_loader {
	position:absolute;
	top:0;left:0;
	width:259px;
	height:90%;
	margin:0 auto;
	text-align:center;
	padding-top:57px;
	display:none;
} 

.loading_indicator {
	background-image: url("../images/fb_loading.gif");
	width:128px;
	height:128px;
	margin:0 auto;
	margin-top:94px;
	background-repeat:no-repeat;
	background-color:transparent; 
}

.deploy_wait_description {
	border-radius: 4px;
	background-color: white;
	opacity: 1.0;
	color: #333;
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	margin-left: 6px;
	margin-top: 24px;
	border: 4px solid black;
	z-index: 20000;
	position: absolute;
	top: 227px;
	display:none;
	width:285px;
}

.deploy_loading {
	width: 100%;
	height: 100%;
	background-color: #333;
	top: 0;
	right: 0;
	display:none;
}
	