<script type="text/javascript">   
	$(function() {	   	
		var resizeHeight = $("#form").height(); 
	    resizeAndCenterWindowByHeight(resizeHeight);	
	});
	
	function startServer() {
		$('#wrapper').html(dispatch({controller: 'event_server', action: 'start_server' }));  
	}
	
	function stopServer() {
		$('#wrapper').html(dispatch({controller: 'event_server', action: 'stop_server', pid: '<%= pid %>' }));  
	}
</script>

<div class="content">	
	<% if ! running %>
	<div id="form">
		<div class="alert-message">
			<b>The event server is NOT running</b>
		</div>		 
	</div>
	<% end %>
	<% if running %>
	<div id="form">
		<div class="alert-message success">
			<b>The event server is running</b>
		</div>		 
	</div>
	<% end %>
</div>          
<form class="form-stacked" id="action_buttons">
	<fieldset style="padding-top:0px;">
		<div class="actions">					
			<% if ! running %>
			<input type="button" id="btnSubmit" class="btn success" value="Start Server"  onclick="startServer();">			
			&nbsp;       
			<% end %>
			<% if running %>
			<input type="button" id="btnSubmit" class="btn danger" value="Stop Server"  onclick="stopServer();">
			&nbsp;
			<% end %>
			<button type="reset" class="btn" onclick="window.close();">Cancel</button>
		</div>
	</fieldset>
</form>