<% style_tag = style_include_tag("bootstrap", "jqueryui", "multiselect", "progress") %>
<% script_tag = javascript_include_tag("jquery", "jqueryui", "tabs", "rb_gateway", "toggle", "alerts", "multi-select", "buttons", "modal") %>
<html>
	<head>
	  	<title>MavensMate</title>
	  	<% if ! @script_at_top %> 
	    	<%= script_tag %>
	  	<% end %>
			<%= style_tag %>
			<%= @content_for_javascript %>
		
		<script type="text/javascript">
			<% support = ENV['TM_BUNDLE_SUPPORT'] %>
			var TM_BUNDLE_SUPPORT = '<%= support %>';
			
			function resize() {
				window.resizeTo(675, document.getElementById('wrapper').offsetHeight+65);
			}
			
			function resize_height() {
				window.resizeTo(window.width, document.getElementById('wrapper').offsetHeight+65);
			}	
		</script>	  
		<style>		
			#mm_logger {
				display:none;
				height:200px;
				overflow-y:auto;
				padding:10px;
				border:1px solid #f2f2f2;
			}
			
			table.code {
				display:none;
			}
			
			table.code td {
				padding:0px;
			}
			
			table.code {
				border: 1px solid #CCC;
				width: 100%;
				border-collapse: collapse;
				font: 95%/105% "Consolas", Monaco, "Courier New", Courier, "Bitstream Vera Sans Mono", monospace;
			}
			
			table.code thead .line_numbers, table.code thead {
				background: #DDD;
			}
			
			table.code td.covered {
				background: #DFD;
			}
			
			table.code td.not_covered { 
				background: #fdd; 
			}
						
			table.code tr td.line_numbers {
				text-align: right;
				vertical-align: top;
				background: #EEE;
				color: #555;
				font-size: 90%;
				padding: 2px;
				padding-top: 0;
				width: 35px;
				border-right: 1px solid #CCC;
				border-bottom: 1px solid #DDD;
				vertical-align:middle;
			}
			
			table.code td {
				vertical-align:middle;
				border-top: 1px dotted #b5b5b5;
			}
			
			body {
				padding-top:40px;
			}
			
			#wrapper {
				padding:10px;
			}
			
			.block-message-custom {
				background-image: none;
				background-color: #F2F2F2;
				filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
				padding: 14px;
				border-color: #CCC;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
			}
			
			.alert-message .btn {
				font-weight:normal;
			}
			
			.container {
				width: 100%;
				margin-left: 12px;
			}
		</style>
	</head>
	<body id='body'>
		<div data-scrollspy="scrollspy" class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <a href="#" class="brand">MavensMate</a>
        </div>
      </div>
    </div>  	
		<div id='debug'></div>
  	<div id='wrapper'>
			<% yield %>
		</div>
	</body>
</html>
