<%  
	class_name = ""
	class_name = "mmcloser" if success
%>
<div id="result_wrapper" style="padding:0px 10px;" class="<%=class_name%>">
	<% if ! success %>
		<div class="alert-message error" style="display:none;">
			<p><strong>Error!</strong> The creation of your new project failed.</p>
		</div>
		<div id="error" style="margin:5px 0px 15px 0px;" class="alert-message error">
			<p><strong><%= message %></p>
	  </div>
		<script type="text/javascript">setTimeout(function() { window.resizeTo(325, $(document).height() + 100); }, 1)</script>
	<% end %>
</div>