<script type="text/javascript"> 
	$(function() {
	   	
		var resizeHeight = $("#form").height(); 
	    resizeAndCenterWindowByHeight(resizeHeight);
	
		$("#form").bind('keyup', function(e) {
			var code = (e.keyCode ? e.keyCode : e.which);
			 if(code == 13) { //enter pressed
			 	if ($('#apiName').val())
					$("#btnSubmit").click();
			 }
		}); 
	});
</script>

<div id="result_output">
	
</div>

<div class="content">	
	<div id="form">
		<form class="form-stacked" id="form_main">
			<fieldset>
				<div class="clearfix">
					<label for="apiName"><%= meta_label %> Name</label> 
					<input class="xlarge" size="100" type="text" id="apiName">
				</div>
				<div class="clearfix" style="display:<% if meta_type != "ApexClass" %>none<% end %>">
					<label for="apiName">Apex Class Type</label> 
					<select size="1" id="apexClassType">
						<option value="public" selected="selected">Public (Default)</option>
						<option value="test">Test</option>
						<option value="batch">Batch</option>
						<option value="schedulable">Schedulable</option>
						<option value="email">Email Service</option>
						<option value="url">Url Rewriter</option>
						<option value="empty">No Constructor</option>
					</select>
				</div>
				<div class="clearfix" style="display:<% if meta_type != "ApexTrigger" %>none<% end %>">
					<label for="objectName">Object API Name</label> 
					<input class="xlarge" size="100" type="text" id="objectName">
				</div>
			</fieldset>
		</form> 		
	</div>  
</div>          
<form class="form-stacked" id="action_buttons">
	<fieldset style="padding-top:0px;">
		<div class="actions">					
			<input type="button" id="btnSubmit" class="btn primary" value="Deploy"  onclick="$('#result_output').html(dispatch({controller: 'create', action: 'create_metadata', meta_type: '<%= meta_type %>' , api_name: $('#apiName').val(), object_api_name: $('#objectName').val(), apex_class_type: $('#apexClassType').val()  }));">
			&nbsp;
			<button type="reset" class="btn" onclick="window.close();">Cancel</button>
		</div>
	</fieldset>
</form>
<script>
	function new_custom_project() {
		$.post(
			"http://127.0.0.1:7777/metadata", 
			{
				 pn: $("#pn").val(), 
				 un: $("#un").val(), 
				 pw: $("#pw").val(), 
				 server_url: $("#server_url").val(), 
				 vc_un: $("#svn_un").val(), 
				 vc_pw: $("#svn_pw").val(), 
				 vc_url: get_selected_vc_url(), 
				 vc_type: $("#vc_type").val(), 
				 vc_alias: $("#vc_alias").val(), 
				 vc_branch: $("#vc_branch").val(), 
				 tree: get_tree(),
				 where: "<%= ENV['FM_PROJECT_FOLDER'] %>"
			},
			function(data){
				alert("Data Loaded: " + data);
			} 
		);
	}
</script>