<div id="result_wrapper" style="padding:0px 10px;">
	<% if ! result[:is_success] %>
		<div class="alert-message error" style="margin:0;">
			<p><strong><%= result[:messages][0][:problem] %></p>
	  </div>
		<script type="text/javascript">document.getElementsByTagName("input")[0].focus();setTimeout(function() { window.resizeTo(325, $(document).height() + 25); }, 1);</script>
	<% end %>
	<% if result[:is_success] %>
		<script type="text/javascript">window.close();</script>
	<% end %>
</div>