<% if connections.size == 0 %>
	<div class="alert-message block-message info">
    	<p><strong>A deployment connection is a Salesforce.com org that you wish to deploy to from this MavensMate project.</strong></p>
  	</div>
	<div class="alert-message block-message warning">
    	<p><strong>You do not have any deployment connections set up </strong></p> 
  	</div>
<% else %>
<div class="alert-message block-message-custom" style="margin-bottom:0px;padding: 5px;-webkit-border-radius: 4px 4px 0px 0px;">
		<p style="float:left;"><strong>Deployment Connections</strong></p>
	<div style="clear:both;"></div>	
</div>  
<table class="bordered-table test_result" style="-webkit-border-radius: 0px 0px 4px 4px;">
	<thead>
		<tr>
			<th>Connection</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody id="connections_list">
		<% connections.each do |c| %>
			<tr>
				<td><%= c[:un] %></td>
				<td><a href="javascript:void(0);" onclick="deleteConnection('<%= c[:un] %>')">Remove</a></td>
			</tr>
		<% end %>
	</tbody>
</table>

<% end %>