<div class="content">
	<div id="error_wrapper">
	
	</div>
    <span id="connections_wrapper">
	  	<% if connections.size == 0 %>
			<div class="alert-message block-message info">
	        	<p><strong>A deployment connection is a Salesforce.com org that you wish to deploy to from this MavensMate project.</strong></p>
	      	</div>
			<div class="alert-message block-message warning">
	        	<p><strong>You do not have any deployment connections set up </strong></p> 
	      	</div>
		<% else %>
		<div class="alert-message block-message-custom" style="margin-bottom:0px;padding: 5px;-webkit-border-radius: 4px 4px 0px 0px;">
				<p style="float:left;"><strong>Deployment Connections</strong></p>
			<div style="clear:both;"></div>	
		</div>  
		<table class="bordered-table test_result" style="-webkit-border-radius: 0px 0px 4px 4px;">
			<thead>
				<tr>
					<th>Connection</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody id="connections_list">
				<% connections.each do |c| %>
					<tr>
						<td><%= c[:un] %></td>
						<td><a href="javascript:void(0);" onclick="deleteConnection('<%= c[:un] %>')">Remove</a></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		
		<% end %>
	</div>
	
	<div id="form" class="active">
		<form class="form-stacked">
			<fieldset>					   
				<div class="clearfix" id="svn_un_wrapper">
					<label for="svn_un">Salesforce Username</label> 
					<input class="xlarge" size="100" type="text" id="un">
				</div>				
				<div class="clearfix" id="svn_pw_wrapper">
					<label for="svn_pw">Salesforce Password</label> 
					<input class="xlarge" size="100" type="password" id="pw">
				</div>
				<div class="clearfix">
					<label for="server_url">Server URL</label> 
					<select id="server_url">
						<option>https://www.salesforce.com</option>
						<option>https://test.salesforce.com</option>
						<option>https://prerellogin.pre.salesforce.com</option>
					</select>
				</div>
				<div class="clearfix" style="margin-top:15px;">
					<input type="button" id="btnSubmit" class="btn primary" value="Create Connection" onclick="newConnection()">
				</div>
								
			</fieldset>
		</form>
	</div>
	
</div>

<form class="form-stacked" id="action_buttons">
	<fieldset style="padding-top:0px;">
		<div class="actions">					
			<button type="reset" class="btn" onclick="window.close();">Close Window</button>
		</div>
	</fieldset>
</form>


	<script type="text/javascript">
		function deleteConnection(username) {
			$.ajax({
				type: "DELETE",
				url: "http://127.0.0.1:7777/connections", 
				data: {
					 un: username,
					 pd: '<%= ENV['MM_CURRENT_PROJECT_DIRECTORY'] %>'

				},
				beforeSend: function() { showLoading('Removing connection'); },
				complete: function(data){
					$("#error_wrapper").html('')
					console.log(data)				
					var response = JSON.parse(data.responseText)
					if (response["success"] == false) {
						$("#error_wrapper").html(response["message"])
					} else {
						$("#connections_wrapper").html(response["message"])
					}
					hideLoading()			
				}
		 	});
		}
		
		function newConnection() {
			$.ajax({
				type: "POST",
				url: "http://127.0.0.1:7777/connections", 
				data: {
					 username 		: $("#un").val(), 
					 password 		: $("#pw").val(), 
					 org_type 		: $("#org_type").val(),
					 project_name 	: '{{name}}'
				},
				beforeSend: function() { showLoading('Adding connection'); },
				complete: function(data){
					$("#error_wrapper").html('')
					console.log(data)				
					var response = JSON.parse(data.responseText)
					if (response["success"] == false) {
						$("#error_wrapper").html(response["message"])
					} else {
						$("#un").val('')
						$("#pw").val('')
						$("#connections_wrapper").html(response["message"])
					}
					hideLoading()			
				}
		 	});
		}

		$(function() {		   						   		
			$("#project_wrapper").height($(window).height() - 175)

			var resizeHeight = $("#form").height(); 
		    resizeAndCenterWindowByHeight(resizeHeight+250);
			
			$(window).resize(function() {
				$("#project_wrapper").height($(window).height() - 175)
			});						 
		});  		
	</script> 
	
	<style>
		.block-message-custom {
            background-image: none;
            background-color: #F2F2F2;
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
            padding: 14px;
            border-color: #CCC;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }    

		table.test_result {
			border-top:none;
		}
		table.test_result th, table.test_result td {
			padding:5px;
			line-height:1;
		}       
	</style>